stages:
  - lint
  - package
  - release

variables:
  ZIP_NAME: "ExternalIssuesBundle-${CI_COMMIT_TAG}.zip"

php:lint:
  stage: lint
  image: php:8.2-cli
  script:
    - find . -type f -name "*.php" -print0 | xargs -0 -n1 -P4 php -l

package:zip:
  stage: package
  image: php:8.2-cli
  rules:
    - if: $CI_COMMIT_TAG
  before_script:
    - apt-get update && apt-get install -y zip && rm -rf /var/lib/apt/lists/*
  script:
    - zip -rq9 "${ZIP_NAME}" API/ DependencyInjection/ Resources/ Service/ composer.json ExternalIssuesBundle.php
    - |
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" \
           --upload-file "${ZIP_NAME}" \
           "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/external-issues-bundle/${CI_COMMIT_TAG}/${ZIP_NAME}"

  artifacts:
    paths:
      - "${ZIP_NAME}"
    expire_in: 7 days

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs: ["package:zip"]
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "Create release ${CI_COMMIT_TAG}"
  release:
    tag_name: "$CI_COMMIT_TAG"
    name: "$CI_COMMIT_TAG"
    description: "ExternalIssuesBundle $CI_COMMIT_TAG"
    assets:
      links:
        - name: "${ZIP_NAME}"
          url: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/external-issues-bundle/${CI_COMMIT_TAG}/${ZIP_NAME}"
