name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: php:8.2-cli
    steps:
      - uses: actions/checkout@v4
      - name: Lint PHP files
        run: find . -type f -name "*.php" -print0 | xargs -0 -n1 -P4 php -l

  package:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - name: Set ZIP name
        run: echo "ZIP_NAME=ExternalIssuesBundle-${GITHUB_REF_NAME}.zip" >> $GITHUB_ENV

      - name: Create ZIP package
        run: zip -rq9 "${ZIP_NAME}" API/ DependencyInjection/ Resources/ Service/ composer.json ExternalIssuesBundle.php

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}
          path: ${{ env.ZIP_NAME }}
          retention-days: 7

  release:
    runs-on: ubuntu-latest
    needs: package
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set ZIP name
        run: echo "ZIP_NAME=ExternalIssuesBundle-${GITHUB_REF_NAME}.zip" >> $GITHUB_ENV

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.ZIP_NAME }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref_name }}
          body: ExternalIssuesBundle ${{ github.ref_name }}
          files: ${{ env.ZIP_NAME }}
